{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <div class = "w-1/2 mx-auto mt-8" >
        <div>
        
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
            
    </div>
    <form method = "POST">
        {% comment %} <input type="text" class = "border-2 border-gray-100 shadow-sm w-full rounded-md " placeholder = "Enter Task Title"> {% endcomment %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit" class = "bg-red-600 px-3 py-2 text-white mt-5 rounded-md">Submit</button>
    </form>
    </div>
</body>
</html>