{% extends 'admin/dashboard.html' %}

{% block content %}
    <div class = 'w-1/2 mx-auto my-8'>
        <ul>
            
            {% for message in messsages %}
                <li class='bg-green-500 text-white px-1 py-2 '>{{message}}</li>
            {% endfor %}
                
        </ul>
        <form method = 'POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class='px-2 py-1 text-white bg-blue-500 mt-5'>Assign Role</button>
        </form>
    </div>
{% endblock content %}
    