  {% extends 'base.html' %}
  
  {% block content %}

   <div class='mx-auto w-1/2 my-9'>  
    {% if messages %}
        {% for message in  messages %}
             <p class = 'font-semibold text-white bg-red-600'>{{message}}</p>
        {% endfor %}
        
    {% endif %} 

        <form method='POST' class = "flex flex-col gap-5 mx-auto mt-5 mb-5 ">
            {% csrf_token %}
            {{form}}
            <button type="submit" class= 'border bg-blue-500 px-2 py-2 rounded-lg text-white '>Sign In</button>
        </form>
    </div>

  {% endblock content %}